<?xml version="1.0" encoding="utf-8"?>
<root>
	<items text="基础词库">
		
		<item text="test"></item>
		<item text="基础词库"></item>
		<item text="成语"></item>
		<item text="俗语"></item>
		<item text="歇后语"></item>
		<item text="古诗词"></item>
	</items>
	<items text="医学">
		<item text="疾病"></item>
		<item text="药物"></item>
		<item text="中医"></item>
		<item text="西医"></item>
	</items>
	<items text="科学">
		<item text="物理"></item>
		<item text="天体"></item>
		<item text="化学"></item>
		
	</items>
	<items text="工程">
		<item text="建筑"></item>
		<item text="行业"></item>
	</items>
	<items text="经济">
		<item text="金融"></item>
	</items>
	<items text="计算机">
		<item text="互联网"></item>
		<item text="电子商务"></item>
	</items>
	<items text="地理">
		<item text="地理"></item>
	</items>
	<items text="社会">
		<item text="媒体"></item>
	</items>
	<items text="生物">
		<item text="人体"></item>
	</items>
	<items text="历史">
		<item text="历史名人"></item>
	</items>
	<items text="人物">
		<item text="明星"></item>
	</items>
	
	
</root>
